<app-navbar>
<body>
  <div class="form-container">
    <form [formGroup]="form" class="mt-3">
      <div class="caixa-cadastro">
        <p class="titulo">Cadastro de Usuário</p>

        <div class="form-row">
          <div class="form-group">
            <input class="input" type="text" placeholder="Nome Completo" formControlName="nomeCompleto">
          </div>

          <div class="form-group">
            <input class="input" type="email" placeholder="Email" formControlName="email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <input class="input" type="text" placeholder="CPF" formControlName="cpfCnpj">
          </div>

          <div class="form-group">
            <input class="input" type="date" placeholder="Data de Nascimento" formControlName="dataNascimento">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <input class="input" type="tel" placeholder="Telefone" formControlName="telefone">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <input class="input" type="password" placeholder="Senha" formControlName="senha">
          </div>

          <div class="form-group">
            <input class="input" type="password" placeholder="Confirme sua Senha" formControlName="confirmaSenha">
          </div>
        </div>

        <button type="submit" class="botaoEnviar" (click)="submit()">Cadastrar</button>
        <p>Já tem uma conta? <a [routerLink]="['/login']">Faça login</a></p>
      </div>
    </form>
  </div>
</body>
</app-navbar>
