<body>
  <form [formGroup]="form" class="mt-3">
    <div class="caixa-cadastro">
      <p class="titulo">Cadastrar Novo Usuário</p>
      <div>
        <input class="usuario" type="text" placeholder="Usuario" formControlName="usuario">
      </div>
      <div>
        <input class="password" type="password" placeholder="Senha" formControlName="password">
      </div>
      <button type="submit" class="botaoEnviar" (click)="submit()">Cadastrar</button>
      <p><a href="/login">Já tenho um conta!</a></p>
    </div>
  </form>
</body>
